
		<div id="three-canvas"></div>
		<div class="footer-bottom">
			<div class="infos">
				<a href="#" id="show-infos">
					<div class="icon-ctn">
						<div class="table">
							<div class="table-cell">
								<span class="icon-info"></span>
							</div>
						</div>
					</div>
					<div class="icon-ctn">
						<div class="table">
							<div class="table-cell">
								<span class="icon-close"></span>
							</div>
						</div>
					</div>
							
				</a>
			</div>
			<div class="credits">Created just for fun by <a target="_blank" href="http://gpomp.com">Gauthier Pompougnac</a></div>
		</div>
		<script type="text/javascript" src="../js/global-vendors.js"></script>
		<script type="text/javascript" src="../js/base-3d.js"></script>
		<script type="text/javascript" src="js/includes.js"></script>
		<script type="text/javascript" src="js/experiment.js"></script>

		<script type="text/javascript">
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
	</body>
</html>