<li>
	
	<a href="/{{url}}/" class="{{url}} {{#ifCond this.url this.template}}active{{/ifCond}}">
		<div class="bg">
			<div></div>
		</div>
		<div class="label"><div class="icons"> <span class="icon-minus"></span><span class="icon-plus"></span> </div>{{label}}</div>
	</a>
</li>