@import "generated/glyph.less"; 
@import "vars.less"; 

html {
	height: 100%;
	width: 100%;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	height: 100%;
	font-family: 'Lato', sans-serif;

	&, & * {
		box-sizing: border-box;
	}

}

.clearfix {
	*zoom: 1;

	&:before,
	&:after {
		display: table;
		content: "";
		line-height: 0;
	}

	&:after {
		clear: both;
	}
}

.table {
	width: 100%;
	height: 100%;
	display: table;
	.table-cell {
		width: 100%;
		height: 100%;
		vertical-align: middle;
		display: table-cell;
	}
}

.button-delay-loop(@n, @i: 0) when (@i =< @n) {
	&:nth-child(@{i}) {
		transition-delay: @i / 20 * 1s;
	}
	.button-delay-loop(@n, (@i + 1));
}

#stats {
	@media @m {
		display: none;
	}

	display: block;

	&.show {
		display: none;
	}
}

body .dg.a {
	@media @m {
		margin-right: 0;
	}
}

#not-supported {
	display: none;

	&.show {
		display: block;
	}

	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;

	background: #A40000;

	.supp-content {
		width: 100%;
		max-width: 1100px;
		padding: 30px;
		position: relative;
		color: white;
		font-size: 160%;
		font-weight: 600;

		a {
			color: white;
			text-decoration: none;
			display: inline-block;
			padding-bottom: 1px;
			border-bottom: 1px solid white;

			&:hover {
				border-color: transparent;
			}
		}
	}
}

#exp-menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 300px;
	z-index: 2;
	height: 100%;

	transform: translate(-296px, 0);

	transition: transform 0.3s ease-in;

	@media @m {
		width: 200px;
		transform: translate(-198px, 0);
	}

	body.not-supported & {
		display: none;
	}

	&.show {
		transform: translate(0, 0);
		transition: transform 0.3s ease-out;

		.tip {
			a {
				span {
					.icon(point-down);
				}
			}
		}
	}

	.menu-ctn {
		width: 100%;
		height: 100%;
		position: relative;

		border-right: 5px solid white;
		background:rgba(255, 255, 255, 0.85);
		body.black & {
			background:rgba(0, 0, 0, 0.85);
			border-color: black;
		}

		h2 {
			color: white;
			font-size: 200%;
			margin: 0;
			padding: 0;
			margin-bottom: 20px;
			font-weight: 900;
			text-transform: uppercase;
			body.black & {
				color: black;
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		border-top: 1px solid white;

		body.black & {
			border-color: black;
		}
		li {
			margin: 0;
			padding: 0;
			display: block;
			list-style: none;
			border-bottom: 1px solid white;
			background: black;

			body.black & {
				border-color: black;
				background: white;
			}

			a {
				padding: 20px 10px;
				display: block;
				width: 100%;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 140%;
				font-weight: 700;
				position: relative;
				overflow: hidden;

				.bg {
					position: absolute;
					top: 0;
					left: -10%;
					z-index: 1;
					width: 120%;
					height: 100%;

					div {
						transform: skewX(20deg);
						width: 0;
						height: 100%;
						background: white;
						float: left;
						transition: width 0.2s ease-in;
						transform-origin: 0 50%;


						body.black & {
							background: black;
						}
					}
				}

				.label {
					position: relative;
					z-index: 2;
					color: white;
					transform: translate(0, 0);
					transition: all 0.3s ease-in;
					padding-left: 30px;

					body.black & {
						color: black;
					}

					.icons {
						position: absolute;
						left: 0;
						top: 0;
						color: white;
						transition: color 0.05s linear 0.05s;

						body.black & {
							color: black;
						}
						span {
							position: absolute;
							top: 0;
							left: 0;
							display: inline-block;

							&.icon-plus {
								transform: rotate(0deg);
								opacity: 1;
								transition: all 0.6s ease-in;
							}

							&.icon-minus {
								opacity: 0;
								transition: all 0.6s ease-out;
							}
						}
					}
				}

				&.active, &:hover {
					.bg {
						div {
							width: 100%;
							transform: skewX(20deg);
							transition: width 0.2s ease-out;
						}
					}

					.label {
						transform: translate(10px, 0);
						transition: all 0.3s ease-out;
						color: black;

						body.black & {
							color: white;
						}

						.icons { 
							color: black;
							transition: color 0.05s linear;

							body.black & {
								color: white;
							}
							span.icon-plus {
								transform: rotate(90deg);
								opacity: 0;
								transition: all 0.6s ease-out;
							}

							span.icon-minus {
								opacity: 1;
								transition: all 0.6s ease-out;
							}
						}
					}
				}
			}
		}
	}

	.tip {
		position: absolute;
		right: -119px;
		top: 0;
		height: 100%;
		overflow: hidden;
		pointer-events: none;
		z-index: 2;
		a {
			pointer-events: all;
			display: block;
			color: black;
			text-decoration: none;
			background:white;
			border: 5px solid transparent;
			position: relative;
			overflow: hidden;
			body.black & {
				background: black;
				color: white;
			}

			transform: rotate(90deg);
			transition: all 0.2s ease-in-out;
			font-size: 140%;
			text-transform: uppercase;
			font-weight: 600;

			.bg-expand {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: black;
				transform-origin: 0 100%;
				transform: translate(0, 100%);
				transition: transform 0.2s ease-in-out;
				body.black & {
					background: white;
				}
			}

			.content-expand {
				position: relative;
				width: 100%;
				height: 100%;
				padding: 5px 10px 5px 10px;
			}
			span {
				display: inline-block;
				.icon(point-up);
				transform: translate(0, 0);
				vertical-align: middle;
				&:first-child {
					margin-right: 3px;
				}
				&:last-child {
					margin-left: 3px;
				}
			}

			&:hover {
				transition: all 0.2s ease-in-out;

				color: white;
				border-color: white;
				body.black & {
					border-color: black;
					color: black;
				}

				.bg-expand {
					transform: translate(0, 0);
					transition: transform 0.2s ease-in-out;
				}

				
			}
		}
	}
}


.footer-bottom {
	position: absolute;
	bottom:  20px;
	width: 100%;
	padding: 0 20px;
	color: white;
	z-index: 5;
	pointer-events: none;
	body.black & {
		color: black;
	}

	body.not-supported & {
		display: none;
	}
	&.show {
		.infos {
			#show-infos {
				span.icon-info {
				
					opacity: 0;
					transform: rotate(-45deg);
					transition: all 0.25s ease-in-out;
				}

				span.icon-close {
					opacity: 1;
					transform: rotate(0deg);
					transition: all 0.25s ease-in-out;
				}
			}
		}
	}
	.infos {
		float: left;
		z-index: 3;
		pointer-events: none;
		@media @m {
			width: 100%;
		}
		#show-infos {
			pointer-events: all;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			font-size: 200%;
			color: white;
			background: black;
			text-decoration: none;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 5px solid white;
			text-align: center;
			body.black & {
				color: black;
				background: white;
				border-color: black;
			}

			.icon-ctn {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

			span {
				display: block;
			}

			span.icon-info {

				opacity: 1;
				transform: rotate(0deg);
				transition: all 0.25s ease-in-out;
			}

			span.icon-close {
				opacity: 0;
				transform: rotate(45deg);
				transition: all 0.25s ease-in-out;
				&:before {
					vertical-align: bottom;
				}
			}

			&:hover {
				color: black;
				background: white;
			}

			body.black &:hover {
				color: white;
				background: black;
			}
		}

		a#switch-resolution {
			display: inline-block;
			margin-left: 20px;
			pointer-events: all;
			color: white;
			font-size: 120%;
			text-decoration: none;
			border-bottom: 1px solid white;

			@media @m {
				float: right;
			}

			&:hover {
				border-color: transparent;
			}
			span.label-slow {
				display: none;
			}

			&.high {
				span.label-fast {
					display: none;
				}

				span.label-slow {
					display: block;
				}
			}
		}
	}

	.credits {
		pointer-events: all;
		position: absolute;
		right: 20px;
		bottom: 0;
		font-size: 120%;
		a {
			color: white;
			body.black & {
				color: black;
			}
		}
	}
}

#keyboard-control {
	position: absolute;
	z-index: 2;
	bottom: 40px;
	right: 0;
	width: 100%;
	height: 110px;
	overflow: hidden;
	pointer-events: none;
	& > div {
		width: 50px;
		height: 50px;
		border-radius: 10px;
		border: black;
		position: absolute;
		text-align: center;
		background: white;
		span {
			font-size: 140%;
			display: block;
		}

		&.up {
			top:0;
			right: 75px;
		}

		&.left, &.down, &.right {
			top: 55px;
			right: 20px;
		}

		&.down {
			right: 75px;
		}

		&.left {
			right: 130px;
		}

		&.pushed {
			background: black;
			border-color: white;
			span {
				color: white;
			}
		}
	}
}

#project-infos {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	overflow: hidden;
	visibility: hidden;
	transition: visibility 0.1s 1s;

	&.show {
		visibility: visible;
		transition: visibility 0.1s;
		.bg {
			width: 120%;
			transition: width 0.6s ease-in-out;

			&.bg-2 {
				transition: width 0.5s ease-in-out 0.1s;
			}
		}

		.project-content {
			.project-bg {
				height: 100%;
				transition: height 0.5s ease-in-out 0.25s;
			}

			.project-text {
				visibility: visible;
				opacity: 1;
				transition: all 0.25s ease-in-out 0.5s;
			}
		}
	}

	.bg {
		position: absolute;
		top: 0;
		left: -10%;
		width: 0%;
		height: 100%;
		z-index: 1;
		background: rgba(200, 200, 200, 0.7);

		transform: skewX(20deg);

		body.black & {
			background: rgba(55, 55, 55, 0.7);
		}

		transition: width 0.7s ease-in-out 0.3s;

		&.bg-2 {
			transition: width 0.5s ease-in-out 0.5s;
		}
	}

	.project-content {
		width: 100%;
		max-width: 1100px;
		min-height: 100%;
		margin: 0 auto;	
		
		position: relative;
		z-index: 2;
		color: black;
		.project-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			z-index: 1;
			background: rgba(0, 0, 0, 0.8);
			transition: height 0.5s ease-in-out 0.25s;
			body.black & {
				background: rgba(255, 255, 255, 0.99);
			}
		}
		.project-text {
			width: 100%;
			padding: 50px 25px;
			position: relative;
			z-index: 2;
			visibility: hidden;
			opacity: 0;
			transition: all 0.5s ease-in-out;
			color: white;
			body.black & {
				color: black;
			}
			a {
				color: white;
				text-decoration: none;
				display: inline-block;
				padding-bottom: 1px;
				border-bottom: 1px solid white;
				body.black & {
					color: black;
					border-color: black;
				}

				&:hover, body.black &:hover {
					border-color: transparent;
				}
			}

			h1 {
				font-size: 400%;
				text-transform: uppercase;
				font-weight: 900;
				margin: 0;
				padding: 0;
				margin-bottom: 40px;
				letter-spacing: 0.05em;
			}

			h3 {
				font-size: 200%;
				text-transform: uppercase;
				font-weight: 600;
				margin: 20px 0 15px 0;
				padding: 0;
				letter-spacing: 0.05em;
			}

			p {
				margin: 0;
				padding: 0;
				margin-bottom: 10px;
				font-size: 140%;
				display: block;
				letter-spacing: 0.05em;
				line-height: 130%;
			}
		}
		
	}
}

#three-canvas {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0;
	width: 100%;
	height: 100%;
	canvas {
		width: 100%;
		height: 100%;
	}
}
