{{> header}}
	{{> project-header}}
		<h1>Music + Video II</h1>
		
		<p>Another little experiment that could look cool on stage with a few camera setup.</p>
		<p>Use a Voronoi implementation to create the cells and then apply the texture in a shader. I get the sound a bit differently than on the other. I only take 64 samples.</p>
		
		<h3>Sources</h3>
		<p>
			<a href="https://github.com/gpomp/exp-webgl/tree/master/app/typescript/{{template}}" target="_blank">Typescript</a><br>
			<a href="https://github.com/gpomp/exp-webgl/tree/master/app/shaders/{{template}}" target="_blank">Shaders</a>
		</p>

		<h3>Video &amp; Music Credits</h3>
		<p>Directed by Maxime Causeret and Gilles Deschaud</p>
		<p>music Ghost are Dancing of Home &amp; Dry  : <a href="http://www.homeanddry.org/" target="_blank" rel="nofollow">homeanddry.org/</a><br>
	    Laure Laffererie<br>
	    Romain Dowska<br>
	    Arnaud Dussiau<br>
	    Tristan Coindet </p>
	    <p><a href="https://vimeo.com/52306302" target="_blank">the Video on Vimeo</a></p>
	{{> project-footer}}

	<video id="video" controls loop autoplay>
	    <source src="../img/musicvideo2/video4.mp4" type="video/mp4">  
	</video>
{{> footer}}