{{> header}}
	{{> project-header}}
		<h1>Ink on paper</h1>
		
		<p>Trying to replicate the effect of ink on a spongy paper.</p>
		<p>Use a few texture and a few texture to do that...</p>
		
		<h3>Sources</h3>
		<p>
			<a href="https://github.com/gpomp/exp-webgl/tree/master/app/typescript/{{template}}" target="_blank">Typescript</a><br>
			<a href="https://github.com/gpomp/exp-webgl/tree/master/app/shaders/{{template}}" target="_blank">Shaders</a>
		</p>

		<h3>Credits</h3>
		<p>Drawing by <a href="http://www.nicolasgil.com/" target="_blank">Nicolas Gil</a></p>
	{{> project-footer}}

	<div id="instructions">
		<div class="content-center">
			<div class="table">
				<div class="table-cell">
					<div class="content">
						Click anywhere on the paper...
					</div>
				</div>
			</div>
		</div>
	</div>
{{> footer}}